@charset "UTF-8";

@font-face { /*Arquivo da fonte instalado em um diretório no próprio site*/
    font-family: 'Arial';
    src: url(../fonts/Arial.TTF);
}

@font-face { /*Arquivo da fonte instalado em um diretório no próprio site*/
    font-family: 'TimesNewRoman';
    src: url(../fonts/TimesNewRoman.ttf);
}

@font-face { /*Arquivo da fonte instalado em um diretório no próprio site*/
    font-family: 'Verdana';
    src: url(../fonts/Verdana.ttf);
}

/*Seletor global, serve para definir um padrão de formatação para todo o documento*/
* { /*Sempre que iniciar uma formatação, esse parametro vai zerar o CSS*/
    margin: 0px; /*Espaço externo do elemento.*/
    padding: 0px; /*Espaço) interno do elemento.*/
    border: 0px; /*Borda do elemento*/
    box-sizing: border-box; /*Incorpora os valores de padding e border às dimensões do elemento.*/
}

/*Escopo GLOBAL de variáveis*/
:root {
    --corBranco: #ffffff; /*Declaração de variáveis em CSS*/
    --corPreto: #000000; /*Declaração de variáveis em CSS*/
    --corSombra: rgba(0, 0, 0, 0.500); /*Declaração de variáveis em CSS*/
    --cor0: #000000; /*Declaração de variáveis em CSS*/
    --cor1: #000000; /*Declaração de variáveis em CSS*/
    --cor2: #000000; /*Declaração de variáveis em CSS*/
    --cor3: #000000; /*Declaração de variáveis em CSS*/
    --cor4: #000000; /*Declaração de variáveis em CSS*/
    --cor5: #000000; /*Declaração de variáveis em CSS*/

    --fontePadrao: Arial, Verdana, TimesNewRoman; /*Declaração de variáveis em CSS*/
}

table {
    border-collapse: collapse; /*Define se as bordas da tabela serão separadas ou colapsadas.*/

}

caption {
    font-size: 1.3em; /*Tamanho da fonte*/
    font-weight: bold; /*Intensidade da fonte (normal, bold = grossa, lightr = fina)*/
    padding: 10px 10px 10px 10px; /*Espaço interno do elemento.*/

}

th {
    border-width: 1px; /*Tamanho da borda do elemento*/
    border-style: solid; /*Estilo da borda do elemento*/
    border-color: var(--corPreto); /*Cor da borda do elemento*/
    padding: 10px 10px 10px 10px; /*Espaço interno do elemento.*/
    background-color: var(--corBranco); /*Cor de fundo do elemento*/
}

td {
    border-width: 1px; /*Tamanho da borda do elemento*/
    border-style: solid; /*Estilo da borda do elemento*/
    border-color: var(--corPreto); /*Cor da borda do elemento*/
    padding: 10px 10px 10px 10px; /*Espaço interno do elemento.*/
    background-color: var(--corBranco); /*Cor de fundo do elemento*/
}