@charset "UTF-8";

/*Seletor global, serve para definir um padrão de formatação para todo o documento*/
* { /*Sempre que iniciar uma formatação, esse parametro vai zerar o CSS*/
    margin: 0px; /*Borda (espaço) externo do elemento.*/
    padding: 0px; /*Borda (espaço) interna do elemento.*/
    box-sizing: border-box; /*Incorpora os valores de padding e border às dimensões do elemento.*/
}

/*Escopo GLOBAL de variáveis*/
:root {
    --corBranco: #ffffff; /*Declaração de variáveis em CSS*/
    --corPreto: #000000; /*Declaração de variáveis em CSS*/
    --corSombra: rgba(0, 0, 0, 0.500); /*Declaração de variáveis em CSS*/
    --cor0: #00008b; /*Declaração de variáveis em CSS*/
    --cor1: #87ceeb; /*Declaração de variáveis em CSS*/
    --cor2: #ffff00; /*Declaração de variáveis em CSS*/
    --cor3: #ff0000; /*Declaração de variáveis em CSS*/
    --cor4: #000000; /*Declaração de variáveis em CSS*/
    --cor5: #000000; /*Declaração de variáveis em CSS*/

    --fontePadrao: Arial, Verdana, helvetica, Sans-serif; /*Declaração de variáveis em CSS*/
}

body {
    display: flex; /*Define se um elemento é um bloco ou elemento inline.*/
    align-items: center; /*Alinhamento Vertical*/
    justify-content: center; /*Alinhamento Horizontal*/
    height: 100vh; /*Altura do elemento*/
    background-color: #00008b; /*Cor de fundo utilizando uma variável*/
}

.div1 {
    height: 50%; /*Altura do elemento*/
    width: 50%; /*Largura do elemento*/
    background-image: url('../Imagens/target001.png'); /*Imagem de fundo*/
    background-size: 100% 100%; /*Tamanho da imagem de fundo*/
    background-color: var(--cor3); /*Cor de fundo utilizando uma variável*/
    display: flex; /*Define se um elemento é um bloco ou elemento inline.*/
    align-items: center; /*Alinhamento Vertical*/
    justify-content: center; /*Altura do elemento*/
}

.div2 {
    height: 50%; /*Altura do elemento*/
    width: 50%; /*Largura do elemento*/
    background-image: url('../Imagens/target001.png'); /*Imagem de fundo*/
    background-size: 100% 100%; /*Tamanho da imagem de fundo (Largura e Altura*/
    background-color: var(--cor2); /*Cor de fundo utilizando uma variável*/
}