@charset "UTF-8";

/*Seletor global, serve para definir um padrão de formatação para todo o documento*/
* { /*Sempre que iniciar uma formatação, esse parametro vai zerar o CSS*/
    margin: 0px; /*Borda (espaço) externo do elemento.*/
    padding: 0px; /*Borda (espaço) interna do elemento.*/
    box-sizing: border-box; /*Incorpora os valores de padding e border às dimensões do elemento.*/
}

/*Escopo GLOBAL de variáveis*/
:root {
    --corBranco: #ffffff; /*Declaração de variáveis em CSS*/
    --corPreto: #000000; /*Declaração de variáveis em CSS*/
    --corSombra: rgba(0, 0, 0, 0.500); /*Declaração de variáveis em CSS*/
    --cor0: #d3d3d3; /*Declaração de variáveis em CSS*/
    --cor1: #87ceeb; /*Declaração de variáveis em CSS*/
    --cor2: #ffff00; /*Declaração de variáveis em CSS*/
    --cor3: #ff0000; /*Declaração de variáveis em CSS*/
    --cor4: #000000; /*Declaração de variáveis em CSS*/
    --cor5: #000000; /*Declaração de variáveis em CSS*/

    --fontePadrao: Arial, Verdana, helvetica, Sans-serif; /*Declaração de variáveis em CSS*/
}

body {
    background-image: url('../Imagens/pattern001.png'); /*Imagem de fundo*/
    background-size: 100px 100px; /*Tamanho da imagem de fundo*/
    background-repeat: no-repeat; /*Padrão de repetição da imagem*/
}